<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <h2>Planilla</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img
                src="https://bestjquery.com/tutorial/product-grid/demo199/images/img-4.jpg"
                alt="Product 1"
              />
            </a>
            <span class="product-discount-label">Ocupado</span>
            <ul class="product-links">
              <li>
                <a href="#"><i class="fa fa-search"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-random"></i></a>
              </li>
            </ul>
            <div class="add-to-cart">
              <b>Gerencia De Recursos Humanos</b><br> Departamento de Dotacion y Evaluacion
            </div>
          </div>
          <div class="product-content">
            <h3 class="title">Secretaria</h3>
            <div class="price">Brenda Rosa Medoza Aguirre</div>
          </div>
        </div>
      </div>
      <!-- Añade más productos aquí -->
    </div>
  </div>
</div>
